<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ForwordServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwordingServ</display-name>
    <servlet-name>ForwordingServ</servlet-name>
    <servlet-class>ForwordingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwordingServ</servlet-name>
    <url-pattern>/ForwordingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwordedServ</display-name>
    <servlet-name>ForwordedServ</servlet-name>
    <servlet-class>ForwordedServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwordedServ</servlet-name>
    <url-pattern>/ForwordedServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardingServ</display-name>
    <servlet-name>ForwardingServ</servlet-name>
    <servlet-class>ForwardingServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardingServ</servlet-name>
    <url-pattern>/ForwardingServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardedServ</display-name>
    <servlet-name>ForwardedServ</servlet-name>
    <servlet-class>ForwardedServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardedServ</servlet-name>
    <url-pattern>/ForwardedServ</url-pattern>
  </servlet-mapping>
</web-app>